body{
  font-family: 'Titillium Web', sans-serif;
}
header{
  padding: 25px;
  background: blue;
}
header nav a, header nav a:hover{
  color: white;
  padding: 0 10px;
  text-decoration: none;
  line-height: 2.5;
}
#magazine{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: orange;
}
